html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Menu sidebar */

#menu-button {
  background-color: #22313f;
  color: #19b5fe;
  height: 30px;
  position: fixed;
  text-shadow: 1px 1px 0px #000;
  top: 0;
  width: 220px;
  z-index: 2;
}

#menu {
  background-color: #22313f;
  bottom: 0;
  display: none;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 30px;
  width: 220px;
  z-index: 1;
}

#menu h1 {
  color: #19b5fe;
  margin: 0;
  text-shadow: 1px 1px 0px #000;
}

.divider {
  width: 100%;
  height: 3px;
  display: block;
}

.dividerText {
  width: 100%;
  height: 10px;
  display: block;
}
